@{
    
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>About Us</title>

    <link src="main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="fixed-top">
        <h2 class="visible-lg-block">Welcome to eWallet</h2>
        <div class="navbar-static-top p-2 bg-white text-aquablue list-inline">
            <a href="/">Home</a>
            <a href="/Home/About">About Us</a>
            <a href="/Home/News">News</a>
        </div>
    </div>
</body>
</html>

