@{
}


<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/Content/css/general.css" rel="stylesheet" />

    <link href="~/Content/css/main.css" rel="stylesheet" />

    <meta charset="utf-8" />
    <title>Home</title>
</head>
<body>

    <div class="header">
        <a href="/" class="header-text">Home</a>
        <a href="/Home/About" class="header-text">About Us</a>
        <a href="/Home/News" class="header-text">News</a>
        <a href="/Login/SignIn" class="header-text" style="left:1800px">Sign IN</a>
    </div>

    <figure style="text-align:center;"><img src="~/Content/img/wallet.svg" style="align-content: center;" /></figure>
    
    <div class="main">
        <h2>
            Your personal wallet<br />
            <small>You may send, exchange and create many currency accounts</small>
        </h2>
    </div>
    <br /><br />

    <div class="center">
        <a href="/Login/SignIn" class="button">Sign IN</a>
        <a href="/Login/SignUp" class="button">Create new Account</a>
    </div>
    <br />
    <h1>
        Welcome to eWallet
    </h1>

    <footer>
        Maksym Chorny 2020
    </footer>

</body>
</html>